@media screen and (min-width: 415px) {
  #home-bkg {
    background-image: url('../img/misty.png');
    background-attachment: fixed;
    background-size: cover;
  }

  @font-face {
    src: url(../fonts/CamptonBold.otf);
    font-family: CamptonBold;
  }

  @font-face {
    src: url(../fonts/CamptonMedium.otf);
    font-family: CamptonMedium;
  }

  #welcome-text {
    font-size: 100px;
    color: white;
    font-family: CamptonBold;
    opacity: 50%;
    padding-top: 75px;
  }

  h1 {
    background-color: inherit;
    text-align: left;
    font-style: normal;
    font-size: 48px;
    color: #44344f;
    line-height: 10px;
    opacity: 90%;
    font-family: CamptonBold;
  }

  li {
    padding-bottom: 15px;
  }

  #designh2 {
    text-align: center;
    font: 36px;
    color: #44344f;
    margin: 40px;
    font-family: CamptonBold;
  }

  p {
    font-family: campton, sans-serif;
    text-align: center;
    font-size: 18px;
  }

  h3 {
    background-color: inherit;
    text-align: left;
    font-style: normal;
    font-size: 24px;
    font-family: campton, sans-serif;
    color: white;
    line-height: .3;
  }

  .web-text {
    background-color: inherit;
    padding-left: 20px;
    text-align: left;
    font-family: CamptonMedium;
    color: white;
    font-size: 20px;
  }

  #home-paragraph-link {
    margin: 10px;
    padding: 10px;
    line-height: 15px;
    text-align: left;
    font-family: CamptonBold;
    text-decoration: underline;
    font-size:
  }

  #home-paragraph-link-2 {
    margin: 10px;
    padding: 10px;
    line-height: 15px;
    text-align: left;
    font-family: CamptonBold;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    font-family: campton, sans-serif;
    margin: 10px;
    padding: 10px;
    line-height: 10px;
  }

  a:link {
    text-decoration: none;
    color: white;
    background-color: inherit;
    font-size: 20px;
    font-family: CamptonMedium;
  }

  a:visited {
    text-decoration: none;
    color: #44344f;
    background-color: inherit;
    font-family: CamptonMedium;
  }

  a:hover {
    text-decoration: none;
    color: black;
    background-color: inherit;
    font-family: CamptonMedium;
  }

  a:active {
    text-decoration: none;
    color: #44344f;
    background-color: inherit;
    font-family: CamptonMedium;
  }

  #button-style-1 {
    background-color: #44344f;
    opacity: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: campton, sans-serif;
    justify-content: center;
    align-items: center;
  }

  #button-style-2 {
    background-color: #44344f;
    opacity: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: campton, sans-serif;
  }

  #button-style-3 {
    background-color: #44344f;
    opacity: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: campton, sans-serif;
  }

  td, tr, table {
    padding: 5px;
  }

  hr {
    border-style: solid;
    color: #44344f;
    border-width: 1px;
    background-color: inherit;
    opacity: 90%;
  }

  .flexbox-container {
    display: flex;
    justify-content: center;
  }

  .flexbox-item {
    width: 150px;
    margin: 10px;
    /*border: 3px solid #44344f;
      */
  }

  .flexbox-item-1 {
    min-height: 50px;
  }

  .flexbox-item-2 {
    min-height: 50px;
  }

  .flexbox-item-3 {
    min-height: 50px;
  }

  .ulnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
  }

  .ulnavbar-center {
    display: inline-block;
    text-align: center;
  }

  .linavbar {
    display: inline;
    padding: 20px;
    display: inline-block;
    text-align: center;
  }

  .linavbar a {
    font-family: CamptonBold;
    font-size: 30px;
  }

  .image-grid {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    object-fit: contain;


  }

  .grid-image {
    display: block;
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    object-fit: cover;
    padding: 20px;

  }

  .center-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .design-grid {
    object-fit: scale-down;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
  }

  .grid-design {
    object-fit: contain;
    display: block;
    width: 400px;
    height: 400px;
    margin: 20px;
    align-items: center;
  }

  .aboutme-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
  }


  .aboutme-image {
    display: block;
    width: 300px;
    margin: 0px;
    align-items: center;
  }

  #java-button-1 {
    transition: color 2s ease-in-out;
    font-size: 60px;
  }

  .is-red {
    color: blue;
  }

  .aboutp {
    justify-content: flex-start;
  }

  .about-conainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .abouth2 {
    margin-left: 485px;
    margin-right: auto;
    color: white;
    text-align: justify;
    align-content: center;
    font-family: CamptonBold;
  }

  .aboutp {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: justify;
  }


  /* MODAL */

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

    #myImg:hover {opacity: 0.7;}
    

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 30px 0;
      height: 150px;
      font-family: CamptonMedium;
    }

    /* Add Animation */
    .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }



}

@media screen and (max-width: 414px) {
  #home-bkg {
    background-image: url('../img/misty.png');
    background-attachment: fixed;
    background-size: cover;
  }

  h2 {
    background-color: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-family: campton, sans-serif;
    color: #44344f;
    line-height: 10px;
    opacity: 90%;
  }

  li {
    padding: 5px;
    align-content: center;
  }

  #designh2 {
    text-align: center;
    font: 24px;
    color: #44344f;
    margin-bottom: 0px;
  }

  p {
    font-family: campton, sans-serif;
    text-align: center;
    font-size: 18px;
  }

  h3 {
    background-color: inherit;
    text-align: left;
    font-style: normal;
    font-size: 24px;
    font-family: campton, sans-serif;
    color: white;
    line-height: .3;
  }

  #home-paragraph {
    background-color: inherit;
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-family: campton, sans-serif;
    color: white
  }

  #home-paragraph-2 {
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-family: campton, sans-serif;
    background-color: inherit;
    color: white
  }

  #home-paragraph-link {
    margin: 10px;
    padding: 10px;
    line-height: 15px;
    text-align: left;
    font-family: campton, sans-serif;
    text-decoration: underline;
  }

  #home-paragraph-link-2 {
    margin: 10px;
    padding: 10px;
    line-height: 15px;
    text-align: left;
    font-family: campton, sans-serif;
    text-decoration: underline;
  }

  .home-links a {
    color: black;
    padding: 10px;
  }

  ul {
    list-style-type: none;
    font-family: campton, sans-serif;
    margin: 10px;
    padding: 10px;
    line-height: 10px;
  }

  a:link {
    text-decoration: none;
    color: white;
    background-color: inherit;
    font-size: 18px;
  }

  a:visited {
    text-decoration: none;
    color: #44344f;
    background-color: inherit;
  }

  a:hover {
    text-decoration: none;
    color: black;
    background-color: inherit;
  }

  a:active {
    text-decoration: none;
    color: #44344f;
    background-color: inherit;
  }

  #button-style-1 {
    background-color: #44344f;
    opacity: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: campton, sans-serif;
    justify-content: center;
    align-items: center;
  }

  #button-style-2 {
    background-color: #44344f;
    opacity: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: campton, sans-serif;
  }

  #button-style-3 {
    background-color: #44344f;
    opacity: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: campton, sans-serif;
  }

  td, tr, table {
    padding: 5px;
  }

  hr {
    border-style: solid;
    color: #44344f;
    border-width: 1px;
    background-color: inherit;
    opacity: 90%;
  }

  .flexbox-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .flexbox-item {
    width: 150px;
    margin: 10px;
    /*border: 3px solid #44344f;
      */
  }

  .flexbox-item-1 {
    min-height: 50px;
  }

  .flexbox-item-2 {
    min-height: 50px;
  }

  .flexbox-item-3 {
    min-height: 50px;
  }

  .ulnavbar {
    overflow: auto;
    align-items: center;
    align-content: center;
  }

  .linavbar {
    display: flex;
    padding: 10px;
    align-content: center;
    align-items: center;
  }

  .image-grid {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-basis: 90%;
    justify-content: center;
  }

  .grid-image {
    display: block;
    width: 350px;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }

  .center-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .design-grid {
    object-fit: scale-down;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
  }

  .grid-design {
    object-fit: contain;
    display: block;
    width: 200px;
    height: 200px;
    margin: 5px;
    align-items: center;
  }

  .aboutme-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    align-items: center;
  }

  .aboutme-left {
    padding: 0px;
    flex: 0;
    width: 200px;
  }

  .aboutme-right {
    padding: 10px;
    flex: 50%;
    align-content: center;
  }

  .aboutme-image {
    width: 200px;
    margin: 0px;
    align-items: center;
  }
}
